.HpData-style{
  padding: 3%;
  top: 890px;
  left: 250px;
  position: absolute;
  display:grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  /*border: 1px solid;*/
  width: 690px;
  height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-image:url(images/parchman.png);*/
} 

header{
  background-image:url(images/header.png);
}
body {
  margin: 0;
}


.HpDataS-style{
  padding: 3%;
  top: 940px;
  left: 100px;
  position: absolute;
  display:grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  /*border: 1px solid;*/
  width: 750px;
  height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-image:url(images/parchman.png);*/
} 

h3{
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
  margin: 10px;
  background: #d7d3cd40;
  
}

/*imgS {
  opacity: inherit;
}*/


#navigation {
  overflow: hidden;
  background-image:url(images/backnav.png);
  
}
  
#navigation a {
  float: left;
  display: block;
  color: #e7dddd;
  text-align: center;
  padding: 25px 25px;
  text-decoration-color: rgb(161, 13, 13);
  font-size: 23px;
  text-shadow: rgb(3, 2, 2);
}

/*#navigation a:hover {
  background-color: #ddd;
  color: black;
}*/

#navigation a.chars {
  background-color: #5f1f03ac;
  color: white;
}

#navigation a.chars:hover {
  background-color: #ddd;
  color: rgb(8, 7, 7);
}

.root {
  padding: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .root {
  padding-top: 25px;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}