.HpData-style{
  padding: 3%;
  top: 900px;
  left: 140px;
  position: absolute;
  display:grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  /*border: 1px solid;*/
  width: 690px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-image:url(images/parchman.png);*/
} 

.HpDataS-style{
  padding: 3%;
  top: 940px;
  left: 100px;
  position: absolute;
  display:grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  /*border: 1px solid;*/
  width: 750px;
  height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-image:url(images/parchman.png);*/
} 

h3{
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
  margin: 10px;
  background: #d7d3cd40;
  
}

/*imgS {
  opacity: inherit;
}*/

#navigation {
  overflow: hidden;
  background-color: #333;
}

#navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navigation a:hover {
  background-color: #ddd;
  color: black;
}

#navigation a.chars {
  background-color: #04AA6D;
  color: white;
}

.root {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .root {
  padding-top: 60px;
}